<h4>Themen</h4> 

<div class="well">
  <table class="bordered-table zebra-striped">
    <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= theme.position %></td>
        <td><%= link_to theme.title, theme %></td>     
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Neues Thema anlegen', new_theme_path, :class => 'btn large primary' %>