<div class="page-header">
  <h1>Karten</h1>
</div>

<div class="well">
  <%= link_to 'Neue Kategorie erstellen', new_card_path, :class => 'btn large primary' %>
</div>

<table class="datatable table table-bordered table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>sichtbar?</th>
    </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= link_to card.title, card %></td>     
    </tr>
  <% end %>
  </tbody>
</table>
