<h4>Karten</h4> 

<div class="well">
  <table class="bordered-table zebra-striped">
    <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.position %></td>
        <td><%= link_to card.title, card %></td>     
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Neue Karte anlegen', new_card_path, :class => 'btn large primary' %>
